.header {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.main {
    margin-left: 40px;
    margin-top: 45px;
}

#headerTitle {
    margin-left: 200px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#headerLogo {
    width: 250px;
}

#footer {
    margin-left: 40px;
}

a {
    color: #00a7be;
    text-decoration: none;
}

/*
nav {
    background-color: dimgray;
    margin-top: 0px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}
nav ul li.selected {
    /*background-color: aqua;
}

.navbar {
    background-color: black;
}

.navbar-inverse {
    background-color: white;
    border-color: #e9e9e9;
}

.navbar-default {
    background-color: white;
    border-color: #e9e9e9;
}

.navbar-collapse collapse {
    color: white;
}

.navbar-brand {
    color: black !important;
    margin-top: 25px;
}

.navbar-brand:hover {
    color: #00a7be !important;
}

.navbar-nav li a {
    color: black !important;
}

.navbar-nav li a:hover {
    color: #00a7be !important;
}

.imagecontainer {
    background-image: url(logo_itvitae_liggend_anders_denken.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: aqua;
    height: 100px;
    min-width: 270px;
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}
*/

body {
    font-family: Arial, Verdana, Helvetica sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    min-width: 700px;
}

body-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.my-body-content {
    position: relative;
    padding-top: 80px;
}

a[type="button"] {
    display: inline-block;
    border-radius: 50%;
    border: none;
    background-color: #00a7be;
    margin-bottom: 40px;
    color: white;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.my-body-content hr {
    color: #e9e9e9;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.my-body-content {
    margin: 20px;
}

/*
.my-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.my-table th {
    text-align: center;
    padding: 5px;
}

.my-table td {
    text-align: center;
    border: solid;
    border-width: 2px;
    border-color: #e9e9e9;
    padding: 5px;
}
*/

#name {
    max-width: 300px;
}

.table {
    border-collapse: collapse !important;
}

.table th {
    padding: 10px 30px 10px 0px;
    background-color: #fff !important;
    margin-bottom: 10px;
    text-align: left;  
}

.table td {
    padding: 10px 30px 10px 0px;
    background-color: #fff !important;
    margin-bottom: 10px;
}
