@{
    ViewBag.Title = "CSV importer";
}

<h2>CSV importer</h2>

@using (Html.BeginForm("ToDatabase", "CSV", FormMethod.Post, new { enctype = "multipart/form-data" })) { 

    <input type="file" name="csvFile" />

    <input type="submit" value="Upload" />
}